* text=auto
public/js/jquery-ui/* linguist-vendored
public/js/keyboard/* linguist-vendored
public/plugins/* linguist-vendored
public/bootstrap/* linguist-vendored
public/css/jquery-ui/* linguist-vendored
public/css/keyboard/* linguist-vendored
public/css/skins/* linguist-vendored
public/css/AdminLTE.css linguist-vendored
public/css/AdminLTE.min.css linguist-vendored
public/css/font-awesome.css linguist-vendored
public/css/ionicons.css linguist-vendored