.button-box h3 {text-align: center;}
.button-box ul {list-style: none; padding: 0; text-align: center;}
.alert-box h2 {font-size: 20px; padding: 8px; margin: 0; border-radius: 2px; display: none;}
.alert-box h2.success {color:#fff; background: #00a65a;}
.alert-box h2.failure {color:#fff; background: #dd4444;}